.annotation-layer-wrapper {
  height: 100%;
  position: relative;
  width: 100%;
}

.annotation-layer-lines {
  height: 100%;
  width: 100%;
}

.annotation-layer__label_wrapper {
  position: absolute;
}
