.chart-wrapper {
  position: relative;
  height: 100%;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.28581;
  text-transform: none;
  color: #182026;
  font-family: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Open Sans", "Helvetica Neue", "Icons16",
    sans-serif;
  color: #f5f8fa;
}

.overlay {
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  padding: 8px;
  pointer-events: none;
}

.auto-sizer-wrapper {
  height: 100%;
  width: 100%;
}
