.chart__wrapper {
  color: var(--pennant-font-color-base);
  font-family: var(--pennant-font-family-base);
  font-size: var(--pennant-font-size-base);
  font-weight: var(--pennant-font-weight-normal);
  height: 100%;
  position: relative;
  --separator-border: var(--pennant-color-emphasis-300);
}
