@import "../../styles/colors";

.d3fc-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.plot-area {
  position: relative;
}

.plot-area:nth-child(1) {
  flex: 2 2 0;
}

.plot-area:nth-child(3) {
  flex: 1 1 0;
  max-height: 200px;
}

.x-axis {
  position: relative;
  cursor: ew-resize;
}

.d3fc-canvas-layer {
  position: absolute;
  width: 100%;
  height: 100%;
}

.annotation-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.crosshair {
  cursor: crosshair;
}

.grabbing {
  cursor: grabbing;
}

.separator {
  position: relative;
  flex: 0 0 1px;
  background-color: $white;
}

.separator .handle {
  position: absolute;
  z-index: 10;
  top: -4px;
  height: 9px;
  left: 0;
  width: 100%;
  cursor: row-resize;
}

.separator .handle:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.time-axis {
  width: 100%;
  height: 26px;
}
