@import "../../styles/colors";

.chart-info-wrapper {
  align-items: center;
  background-color: $overlay-backdrop;
  color: #f5f8fa;
  cursor: default;
  display: inline-flex;
  flex-direction: row;
  gap: 8px;
  padding: 4px;
  pointer-events: auto;
  position: relative;
  user-select: none;
  z-index: 1;
}
