@import "../../styles/colors";

.chart-info-wrapper {
  pointer-events: auto;
  cursor: default;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  padding: 4px;
  color: #f5f8fa;
  background-color: $overlay-backdrop;
}

.interval-select .bp3-menu {
  min-width: 40px;
}
