@import "../../styles/colors";

.candle-info-wrapper {
  align-items: center;
  background-color: $overlay-backdrop;
  color: #f5f8fa;
  cursor: default;
  overflow: hidden;
  padding: 4px;
  pointer-events: auto;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.candle-info__item {
  display: inline;
  padding-right: 6px;
}

.text-muted {
  color: #a7b6c2;
}
