:root {
  --focus-border: #007fd4;
  --sash-size: 8px;
  --sash-hover-size: 4px;
  --separator-border: #454545;
}

.pennant-split-view {
  height: 100%;
  position: relative;
  width: 100%;
}

.pennant-split-view > .sash-container {
  height: 100%;
  pointer-events: none;
  position: absolute;
  width: 100%;
}

.pennant-split-view > .sash-container > .pennant-sash {
  pointer-events: initial;
}

.pennant-split-view {
  height: 100%;
  width: 100%;
}

.pennant-split-view > .split-view-container {
  height: 100%;
  position: relative;
  white-space: nowrap;
  width: 100%;
}

.pennant-split-view > .split-view-container > .split-view-view {
  position: absolute;
  white-space: initial;
}

.pennant-split-view > .split-view-container > .split-view-view:not(.visible) {
  display: none;
}

.pennant-split-view.vertical > .split-view-container > .split-view-view {
  width: 100%;
}

.pennant-split-view.horizontal > .split-view-container > .split-view-view {
  height: 100%;
}

.pennant-split-view.separator-border
  > .split-view-container
  > .split-view-view:not(:first-child)::before {
  background-color: var(--separator-border);
  content: " ";
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  z-index: 5;
}

.pennant-split-view.separator-border.vertical
  > .split-view-container
  > .split-view-view:not(:first-child)::before {
  height: 1px;
  width: 100%;
}

.pennant-sash {
  position: absolute;
  touch-action: none;
  z-index: 35;
}

.pennant-sash.horizontal {
  cursor: ns-resize;
  height: var(--sash-size, 4);
  left: 0;
  width: 100%;
}

.pennant-sash:before {
  background: transparent;
  content: "";
  height: 100%;
  pointer-events: none;
  position: absolute;
  transition: background-color var(--pennant-transition-fast) ease-out;
  width: 100%;
}

.pennant-sash.horizontal:before {
  height: var(--sash-hover-size, 4);
  top: calc(50% - (var(--sash-hover-size, 4) / 2));
}

.pennant-sash.hover:before,
.pennant-sash.active:before {
  background: var(--focus-border, #007fd4);
}
