.pane__close-button-wrapper {
  position: absolute;
  top: 0;
  margin-top: 4px;
  margin-right: 8px;

  transition: opacity 0.4s, visibility 0.4s;
}

.pane__close-button {
  cursor: default;
}

.pane__chart {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.pane__info-overlay {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.pane__pane {
  height: 100%;
  overflow: hidden;
  position: relative;
}

.d3fc-group {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.plot-area {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
}

.plot-area-interaction {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: crosshair;
}

.plot-area-annotations {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
}

.x-axis {
  position: absolute;
  cursor: ew-resize;
  width: 100%;
  height: 100%;
}

.x-axis-interaction {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: ew-resize;
}

.y-axis {
  position: absolute;
  width: 100%;
  height: 100%;
}

.y-axis-interaction {
  position: absolute;
  right: 0;
  height: 100%;
  cursor: ns-resize;
}

.d3fc-canvas-layer {
  height: 100%;
  position: absolute;
  width: 100%;
}

.annotation-layer {
  height: 100%;
  pointer-events: none;
  position: absolute;
  width: 100%;
}

.crosshair {
  cursor: crosshair;
}

.grabbing {
  cursor: grabbing;
}

.time-axis {
  height: 26px;
  width: 100%;
}
