:root {
  /* Colors. */
  --vega-blue: #48aff0;
  --vega-green: #26ff8a;
  --vega-orange: #d9822b;
  --vega-red: #ff261a;
  --vega-yellow: #daff0d;

  --pennant-color-success: #5dc887;
  --pennant-color-info: var(--vega-blue);
  --pennant-color-warning: var(--vega-orange);
  --pennant-color-danger: var(--vega-red);

  --pennant-color-white: #ffffff;
  --pennant-color-black: #000000;

  --pennant-color-gray-0: var(--pennant-color-white);
  --pennant-color-gray-100: #f5f6f7;
  --pennant-color-gray-200: #ebedf0;
  --pennant-color-gray-300: #dadde1;
  --pennant-color-gray-400: #ccd0d5;
  --pennant-color-gray-500: #bec3c9;
  --pennant-color-gray-600: #8d949e;
  --pennant-color-gray-700: #606770;
  --pennant-color-gray-800: #444950;
  --pennant-color-gray-900: #1c1e21;
  --pennant-color-gray-1000: var(--pennant-color-black);

  --pennant-color-emphasis-0: var(--pennant-color-gray-0);
  --pennant-color-emphasis-100: var(--pennant-color-gray-100);
  --pennant-color-emphasis-200: var(--pennant-color-gray-200);
  --pennant-color-emphasis-300: var(--pennant-color-gray-300);
  --pennant-color-emphasis-400: var(--pennant-color-gray-400);
  --pennant-color-emphasis-500: var(--pennant-color-gray-500);
  --pennant-color-emphasis-600: var(--pennant-color-gray-600);
  --pennant-color-emphasis-700: var(--pennant-color-gray-700);
  --pennant-color-emphasis-800: var(--pennant-color-gray-800);
  --pennant-color-emphasis-900: var(--pennant-color-gray-900);
  --pennant-color-emphasis-1000: var(--pennant-color-gray-1000);

  /* Base. */
  --pennant-color-content: var(--pennant-color-emphasis-900);
  --pennant-color-content-secondary: var(--pennant-color-emphasis-700);
  --pennant-color-content-inverse: var(--pennant-color-emphasis-0);

  --pennant-background-surface-color: var(--pennant-color-content-inverse);

  --pennant-hover-overlay: rgba(255, 255, 255, 0.5);

  /* Depth chart. */
  --pennant-color-buy-fill: #eaf5ee;
  --pennant-color-buy-stroke: var(--vega-green);
  --pennant-color-sell-fill: #f8e9ea;
  --pennant-color-sell-stroke: var(--vega-red);

  /* Typography. */
  --pennant-font-color-base: var(--pennant-color-content);
  --pennant-font-color-secondary: var(--pennant-color-content-secondary);

  --pennant-font-family-base: "Helvetica neue", "Helvetica", Arial, sans-serif;
  --pennant-font-family-monospace: "Roboto Mono", monospace;

  --pennant-font-size-base: 12px;
  --pennant-font-size-monospace: 12px;
  --pennant-font-size-annotation: 14px;

  --pennant-font-weight-normal: 400;

  /* Transitions. */
  --pennant-transition-fast: 100ms;
  --pennant-transition-slow: 300ms;
}

[data-theme="dark"] {
  --pennant-color-emphasis-0: var(--pennant-color-gray-1000);
  --pennant-color-emphasis-100: var(--pennant-color-gray-900);
  --pennant-color-emphasis-200: var(--pennant-color-gray-800);
  --pennant-color-emphasis-300: var(--pennant-color-gray-700);
  --pennant-color-emphasis-400: var(--pennant-color-gray-600);
  --pennant-color-emphasis-500: var(--pennant-color-gray-500);
  --pennant-color-emphasis-600: var(--pennant-color-gray-400);
  --pennant-color-emphasis-700: var(--pennant-color-gray-300);
  --pennant-color-emphasis-800: var(--pennant-color-gray-200);
  --pennant-color-emphasis-900: var(--pennant-color-gray-100);
  --pennant-color-emphasis-1000: var(--pennant-color-gray-0);

  --pennant-background-surface-color: #242526;
  --pennant-hover-overlay: rgba(0, 0, 0, 0.5);

  --pennant-color-content: var(--pennant-color-emphasis-900);
  --pennant-color-content-secondary: var(--pennant-color-emphasis-700);

  /* Depth chart. */
  --pennant-color-buy-fill: #1e2c29;
  --pennant-color-buy-stroke: var(--vega-green);
  --pennant-color-sell-fill: #2c2024;
  --pennant-color-sell-stroke: var(--vega-red);

  /* Typography. */
  --pennant-font-color-base: var(--pennant-color-content);
  --pennant-font-color-secondary: var(--pennant-color-content-secondary);
}
