@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

@import "~@blueprintjs/core/lib/scss/variables";

.container {
  background-color: $pt-dark-app-background-color;
  padding: 8px;
  height: 100%;
}

.content-wrapper {
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding-bottom: 8px;
}
