@import "../../styles/colors";

.annotation {
  background-color: black;
  border-color: grey;
  border-style: solid;
  border-width: 2px;
  color: white;
  display: inline-flex;
  flex-direction: row;
}

.cell {
  border-right-style: solid;
  border-right-width: 2px;
  padding: 0 4px;
}

.annotation.intent-primary {
  border-color: #137cbd;
}

.annotation.intent-primary > .cell {
  border-color: #137cbd;
}

.annotation.intent-primary > .cell.fill {
  background-color: #137cbd;
  color: black;
}

.annotation.intent-success {
  border-color: $vega-green3;
}

.annotation.intent-success > .cell {
  border-color: $vega-green3;
}

.annotation.intent-success > .cell.fill {
  background-color: $vega-green3;
  color: black;
}

.annotation.intent-success > .cell.stroke {
  color: $vega-green3;
}

.annotation.intent-warning {
  border-color: #d9822b;
}

.annotation.intent-warning > .cell {
  border-color: #d9822b;
}

.annotation.intent-danger {
  border-color: $vega-red3;
}

.annotation.intent-danger > .cell {
  border-color: $vega-red3;
}

.annotation.intent-danger > .cell.fill {
  background-color: $vega-red3;
  color: black;
}

.annotation.intent-danger > .cell.stroke {
  color: $vega-red3;
}

.cell > button {
  background: none;
  border: none;
  padding: 0 4px;
}

.cell:last-child {
  border-right: none;
  padding: 0;
}
