.price-monitoring-info-wrapper {
  background-color: rgba(0, 0, 0, 0.7);
  color: #f5f8fa;
  display: inline-flex;
  flex-direction: row;
  gap: 8px;
  padding: 4px;
}

.text-muted {
  color: #a7b6c2;
}

