.indicator-info-wrapper {
  align-items: center;
  background-color: var(--pennant-hover-overlay);
  cursor: default;
  display: inline-flex;
  flex-direction: row;
  gap: 8px;
  padding: 4px;
  pointer-events: auto;
  position: relative;
  user-select: none;
  z-index: 1;
}

.text-muted {
  color: var(--pennant-font-color-secondary);
}

.monospace-text {
  font-family: var(--pennant-font-family-monospace);
  font-size: 14px;
  font-variant-numeric: tabular-nums;
}

.monospace-text.success {
  color: var(--pennant-color-success);
}

.monospace-text.danger {
  color: var(--pennant-color-danger);
}
