.closeButtonWrapper {
  margin-top: 4px;
  margin-right: 4px;
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 24px;
  opacity: 0;
  visibility: hidden;
  transition: opacity var(--pennant-transition-slow),
    visibility var(--pennant-transition-slow);
  cursor: pointer;
  pointer-events: auto;
  padding: 4px;
  border-radius: 4px;
}

.hover {
  opacity: 1;
  visibility: visible;
}

.closeButtonWrapper:hover {
  background-color: rgba(90, 93, 94, 0.8);
}

.childrenWrapper {
  position: absolute;
}

.paneWrapper {
  height: 100%;
  position: relative;
}
