.non-ideal-state {
  align-items: center;
  background-color: var(--pennant-background-surface-color);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  text-align: center;
  transition: opacity 0.4s, visibility 0.4s;
  width: 100%;
}

.non-ideal-state .content.hide {
  opacity: 0;
  visibility: hidden;
}

.heading {
  color: #f5f8fa;
}

h4.heading {
  color: var(--pennant-font-base-color);
  font-size: 18px;
  line-height: 21px;
}

.non-ideal-state-visual {
  color: rgba(167, 182, 194, 0.6);
  font-size: 60px;
}
