.candle-info-wrapper {
  display: flex;
  flex-direction: row;
  gap: 8px;
  background-color: rgba(0, 0, 0, 0.7);
}

.text-muted {
  color: #a7b6c2;
}

.monospace-text {
  font-family: monospace;
  text-transform: none;
}
