.chart-wrapper {
  position: relative;
  resize: both;
  overflow: auto;
  width: 800px;
  height: 600px;
}

.overlay {
  position: absolute;
  top: 0;
  padding: 8px;
  pointer-events: none;
}

.auto-sizer-wrapper {
  height: 100%;
  width: 100%;
}
