@import "../styles/colors";

.d3fc-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.plot-area {
  position: relative;
  flex: 1 1 0;
}

.x-axis {
  position: relative;
}

.d3fc-canvas-layer {
  position: absolute;
  width: 100%;
  height: 100%;
}

.crosshair {
  cursor: crosshair;
}

.separator {
  flex: 0 0 1px;
  background-color: $gray1;
}

.time-axis {
  width: 100%;
  height: 26px;
}
